<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="form-group">
        <select class="custom-select" id="category">
          <option selected value="">All Categories</option>
          <option value="Restaurants">Restaurants</option>
          <option value="Outdoor">Outdoor Activities</option>
          <option value="Indoor">Indoor Activities</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <a class="btn btn-light" href="/entry">New Entry</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 blog-container">
    </div>
  </div>
</div>
<!-- Custom Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
<script src="./assets/js/blog.js" type="text/javascript"></script>