{{> navbar }}
<div class="container">
  <div class="w3-panel w3-blue">

    <h3 class="resources">CITIES</h3>
=======
    <h3 id="cities">CITIES</h3>
    <p><i>cities resources go here...</i></p>
>>>>>>> main
  </div>
  <div class="w3-panel w3-red">
    <h3>RESTAURANTS</h3>
    <p><a href="https://www.eater.com/reviews">Restaurant reviews by Eater</a> </p>
    <p><a href="https://www.andyhayler.com/">Restaurant reviews by Andy Hayler</a> </p>
  </div>
  <div class="w3-panel w3-green">
    <h3>OUTDOOR ACTIVITIES</h3>
    <p><a href="https://www.nps.gov/findapark/index.htm">Find a National Park</a> </p>

    <p><a href="https://365atlantatraveler.com/fun-things-to-do-outside/">Social Distancing Outside: 8 Safe Places to Go
        and Things to Do</a> </p>

    <p><a href="https://travel.usnews.com/features/social-distancing-outside-safe-places-to-go-and-things-to-do ">Find a
        National Park</a> </p>

  </div>
  <div class="w3-panel w3-purple">
    <h3>INDOOR ACTIVITIES</h3>
    <p><a href="https://www.theactivetimes.com/travel/best-indoor-places-america-for-when-its-too-cold-outside-gallery">Top places to visit indoors!</a> </p>
  <p><a href="https://www.traveling-up.com/10-travel-inspired-activities-you-can-enjoy-indoors/">10 Travel Inspired Activities You Can Enjoy Indoor!</a> </p>

   
  </div>
  <div class="w3-panel w3-grey">
    <h3 class="resources">View the interactive webcam!</h3>
    <p>
      <iframe width="650" height="450"
        src="https://embed.windy.com/embed2.html?lat=39.732&lon=-104.967&detailLat=39.732&detailLon=-104.967&width=650&height=450&zoom=5&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
        frameborder="0"></iframe>
    </p>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>