{{> navbar }}
<div class="container">
  <div class="w3-panel w3-blue">
    <h3>CITIES</h3>
    <p><i>cities resources go here...</i></p>
  </div>
  <div class="w3-panel w3-red">
    <h3>RESTAURANTS</h3>
    <p><i>restaurant resources go here...</i></p>
  </div>
  <div class="w3-panel w3-green">
    <h3>OUTDOOR ACTIVITIES</h3>
    <p><i>outdoor resources go here...</i></p>
  </div>
  <div class="w3-panel w3-purple">
    <h3>INDOOR ACTIVITIES</h3>
    <p><i>indoor resources go here...</i></p>
  </div>
  <div class="w3-panel w3-grey">
    <h3>View the interactive webcam!</h3>
    <p>
      <iframe width="650" height="450"
        src="https://embed.windy.com/embed2.html?lat=39.732&lon=-104.967&detailLat=39.732&detailLon=-104.967&width=650&height=450&zoom=5&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
        frameborder="0"></iframe>
    </p>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>