<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="./assets/img/couch.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Couch Surfers Travel Blog
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="logout" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<header>
  COUCH SURFING RESOURCES
</header>
<div class="container">
  <div class="w3-panel w3-blue">
    <h3>CITIES</h3>
    <p><i>cities resources go here...</i></p>
  </div>
  <div class="w3-panel w3-red">
    <h3>RESTAURANTS</h3>
    <p><i>restaurant resources go here...</i></p>
  </div>
  <div class="w3-panel w3-green">
    <h3>OUTDOOR ACTIVITIES</h3>
    <p><i>outdoor resources go here...</i></p>
  </div>
  <div class="w3-panel w3-purple">
    <h3>INDOOR ACTIVITIES</h3>
    <p><i>indoor resources go here...</i></p>
  </div>
  <div class="w3-panel w3-grey">
    <h3>View the interactive webcam!</h3>
    <p>
      <iframe width="650" height="450"
        src="https://embed.windy.com/embed2.html?lat=39.732&lon=-104.967&detailLat=39.732&detailLon=-104.967&width=650&height=450&zoom=5&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
        frameborder="0"></iframe>
    </p>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>