#center-form {  
  margin-top: 150px;
  align-content: center;
  align-items: center;
}

#form-text {
  color: white;
}

button.submit {
  float: right;
}
  
form#entry {
  margin-top: 50px;
}
  
#entry textarea {
  resize: none;
}
  
.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}
/* ---- reset ---- */  /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #131637; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ 