/* #CDDDDD LIGHT
#9CC6C4 MED
#409D8B AQUA
#015E54 DARK
#E08340 ORANGE */

/* .navbar-template {
  background-color: #015E54; 
height: 7%;
 linear-gradient(rgba(230, 183, 95, 0.5), rgba(14, 131, 151, 0.5)) 
}

.navbar-elements {
  text-align: center; 
  font-size: 35px;
  color: white;
} 
*/


body {
  background-image: linear-gradient(#E08340, #9CC6C4);
  height: 100%;
  background-size: 100%;
}

html {
  min-height: 100%;
}
 
a {
  color:#015E54;
}

/* login/signup form */
#center-form {  
  margin-top: 150px;
  align-content: center;
  align-items: center;
}

#form-text {
  color: white;
}

#here-button {
  color: #015e54;
}
/* blog container */
button.submit {
  float: right;
}
  
form#entry {
  margin-top: 50px;
}
  
#entry textarea {
  resize: none;
}
  /* fonts*/

#blog-btn, #new-entry, #navbar-text, .resources {
  font-family: 'Fjalla One', sans-serif;
}

#submit-btn {
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 5%;
}

small, .small {
  font-size: 50%;
  font-family: 'Fjalla One', sans-serif;
  
}

/* navbar handlebars*/

.nav-btn {
  margin: 5px;
  padding: 10px;
  width: 10%;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

.card {
  margin: 15px;
}
.categories {
  font-family: 'Fjalla One', sans-serif;
}


.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (wave.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(230, 183, 95, 0.5), rgba(14, 131, 151, 0.5)), url("/assets/img/wave.jpg");

/* Set a specific height */
height: 25%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-family: 'Fjalla One', sans-serif;
}

/* ---- particles.js container ---- */ 
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #9CC6C4; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 

#blog1 {
  background-color: #409D8B
}